<launch>

    <rosparam command="load" file="/home/ras28/catkin_ws/src/ras_project/params.srv" />
    
    <include file = "$(find launch_files)/launch/localization.launch" />

    <node name="path_plan" pkg="ras_path_planning" type="path_plan" output="screen"/>

    <node name="servo_control" pkg="arduino_servo_control" type="servo_control" />

    <node name="collision_avoidance" pkg="ras_driver" type="collision_avoidance" />

    <node name="driver" pkg="ras_driver" type="driver" output="screen" />


</launch>
